body {
    background-image: url(/assets/images/background.jpg);
}

a,
h1 {
    color: white;
}

#headshot {
    width: 25%;
}

span {
    font-size: large;
}

.portfolio {
    width: 70%;
    background: gray;
    margin: auto;
    padding: 1em;
    margin-bottom: 70px;
}

.portfolio img {
    width: 100%;
}

